<template name="layout">


<head>
    <title>Alex Akagi</title>
    <!-- Meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Alex Akagi's website.">
        <meta name="keywords" content="Alex,Akagi,Alexander,Yohsuke,Entrepreneur,Hack,Life,Work">
        <meta name="author" content="Alex Akagi">
    <!-- General Stylesheet -->
        <!-- <link rel="stylesheet" type="text/css" href="./GeneralAkagi/styles/general.css"> -->
    <!-- Bootstrap CSS -->
        <!-- <link rel="stylesheet" href="./GeneralAkagi/bootstrap/css/bootstrap.min.css"> -->
    <!-- jQuery -->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <!-- Main Stylesheet -->
        <!-- <link rel="stylesheet" type="text/css" href="./styles/home.css"> -->
    <!-- Main Script --><!-- 
        <script src="./scripts/alexScript.js"></script>
        <script src="./scripts/HomeJQuery.js"></script>
     --><!-- Bootstrap JS -->
        <!-- // <script src="./GeneralAkagi/bootstrap/scripts/bootstrap.min.js"></script> -->
    <!-- Fonts -->
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=PT+Sans+Narrow">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Syncopate" >
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oxygen" >
</head>

{{> yield}}

</template>